@page
@model Project.Pages.Admin.Identity.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Identity</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @*Html.DisplayNameFor(model => model.Identity.Alias)*@
        </dt>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Identity.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
