@page
@model Project.Pages.Category.IndexModel
@{
    ViewData["Title"] = "Movie Categories";
}
<br>
<h1>Categories</h1>
<br>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieCategories[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MovieCategories)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-page="./View" asp-route-id="@item.Id">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>
